.productive {

    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
        align-items: center;
        justify-items: center;
        gap: 50px;

        @include breakpoint(medium) {
            max-width: 80%;
            margin: 0 auto;
        }
    }

    &__image {
        img {
            text-align: center;
            width: 100%;
        }
    }

    &__text {
        h2 {
            font-size: 2em;
        }

        p {
            font-size: .8em;
        }

        a {
            background-image: url(../images/icon-arrow.svg);
            background-repeat: no-repeat;
            background-position: right center;
            padding-right: 20px;
            font-size: .67em;
            color: $ctaCyan;
            border-bottom: 1px solid $ctaCyan;
        }
    }
}